@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.page {
  height: 100%;
  background: #f2f2f2;
}

.page__body {
  margin: 0 auto;
  width: 1200px;

  font-family: "PT Sans";
  background: #ffffff;
  color: #333333;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  font-weight: 400;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.button {
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.main-header {
  display: flex;
  margin: 0 auto;
  width: 1060px;
}

.main-nav {
  display: flex;
  margin: 0;
  justify-content: space-between;
  width: 892px;
}

.header-list {
  display: flex;
  margin: 0;
  flex-wrap: wrap;
  align-items: center;
}

.main-nav__list {
  list-style: none;
  color: #000000;
}

.header-list__item {
  padding: 20px 16px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header-list__button {
  background-color: #756157;
}

.intro {
  display: flex;
  justify-content: center;
  background-image: url("../images/index-img/white-line.svg"), url("../images/index-img/index-intro.jpg");
  height: 485px;
  background-repeat: no-repeat;
  background-color: #34495dbf;
  background-size: 102% auto;
  background-position: bottom;
}

.intro__image {
  padding-top: 52px;
}

.advantages {
  text-align: center;
}


.advantages__important-description {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.advantages__description {
  font-size: 22px;
  line-height: 26px;
}

.advantages__list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 400px);
  list-style-type: none;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}

.advantages__item {
  display: flex;
  flex-direction: column;
}

.advantages__item--big {
  display: flex;
  flex-direction: row;
  background-color: #82B3D3;
  color: #ffffff;
  width: 1200px;
  grid-column: 1 / -1;
}

.advantages__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.search-hotel {
  text-align: center;
}

.search-hotel__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-hotel__description {
  font-size: 22px;
  line-height: 26px;
}

.search-hotel__button {
  font-size: 20px;
  line-height: 36px;
  background-color: #756157;
}

.newsletter {
  text-align: center;
  color: #000000;
}

.newsletter--background {
  background-image: url("../images/index-img/newsletter-background.jpg");
  height: 415px;
  background-repeat: no-repeat;
  background-color: #34495dbf;
  background-size: cover;
  color: #ffffff;
}

.newsletter__title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter__description {
  font-size: 22px;
  line-height: 26px;
}

.newsletter__button {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  background-color: #82B3D3;
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
  margin: 0 auto;
  padding-top: 29px;
  margin-bottom: 30px;
}

.social {
  display: flex;
}

.contacts__phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
}

.main-container__background {
  background-image: url("../images/catalog-img/filter-background.jpg");
  height: 712px;
  background-repeat: no-repeat;
  background-color: #34495dbf;
  background-size: cover;
}

.main-container__wrapper {
  color: #ffffff;
  height: 412px;
}

.filter-header {
  display: flex;
  flex-direction: column;
}

.filter-header__title {
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
}

.filter-header__breadcrumbs {
  list-style: none;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs__link {
  color: #ffffff;
}

.catalog-filter__form {
  display: flex;
}

.catalog-filter__list {
  list-style: none;
}

.catalog-filter__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.control__label {
  font-size: 18px;
  line-height: 23px;
}

.price-range__input {
  color: #000000;
}

.price-range__input--description {
  font-size: 18px;
  line-height: 24px;
}

.catalog {
  margin: 0 auto;
  width: 1060px;
}

.catalog-filter__button {
  display: flex;
  flex-direction: column;
}

.catalog-filter__apply-button {
  background-color: #82B3D3;
}

.catalog-filter__reset-button {
  background-color: transparent;
}

.catalog__search {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.catalog__offers-found {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.product__list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0 auto;
  width: 1056px;
  margin-bottom: 66px;
  padding: 0;
  column-gap: 18px;
  list-style: none;
}

.product__card-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.product__card-wrapper {
  display: grid;
  grid-template-columns: 140px 140px;
  margin: 16px 20px 20px;
  row-gap: 16px;
  column-gap: 20px;
  word-wrap: break-word;
}

.product__card-more {
  background-color: #756157;
}

.product__card-button {
  background-color: #82B3D3;
}

.product__card-button--current {
  background-color: #7DB54F;
}

.product__rating-number {
  font-weight: 400;
  background-color: #F2F2F2;
}

.pagination__list {
  list-style: none;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pagination__link{
  padding: 12px, 24px;
  background-color: #82B3D3;
  color: #ffffff;
}

.pagination__link--current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination__link--more {
  background-color: #ffffff;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
}

.main-footer__list {
  list-style: none;
}
